
*{
  padding: 0;
  margin: 0;
}

/* create product code start from here */

body{
  background-color: #231D19 !important;
} 


/* nav bar code start from here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(216, 146, 84, 0.4); /* background color with 50% opacity */
  height: 100px;
  color: #fff;
  position: relative !important;
}

nav .logo {
  width: 140px !important;
  margin-top: -20px;
}

nav .nav-links {
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-links li {
  list-style: none !important;
  margin-left: 200px;
}

nav .nav-links a {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 18px !important;
}

nav .burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  nav .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 11.80vh;
    background-color: rgba(216, 146, 84, 0.4); /* background color with 50% opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  nav .nav-links li {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: -20px;
  }

  nav .burger {
    display: block;
  }

  nav .nav-active {
    transform: translateX(0%);
  }

  nav .nav-active li {
    opacity: 1;
  }
}
/* nav bar code finish from here */



/* list page code start from here */
.card-border{
  border-radius: 20px !important;
  background-color: #212529 !important;
}

.btn-midddle{
  background: #D89254 !important;
  width: 200px !important;
  height: 40px;
  font-size: 20px !important;
  color: #fff !important;

}
/* list page code stop from here */

/* custormer page styles start from here */
/* banner code start from here */
.backgroundclr{
  height: 800px !important;
  background-color: #251713; 
}

.img-class{
  width: 500px;
  margin-left: 1163px;
  margin-top: 30px;
}

.img-two-class{
  margin-top: 100px !important;
  margin-left: 700px;
  width: 600px !important;  
}


.banne-txt{
  margin-top: -800px !important;
  margin-left: 100px;
  font-size: 150px;
  font-family: 'Tilt Warp', cursive;
  color: #D89254 !important;
}

/* banner code finish from here */

/* card codes start from here */
.cardbackgrnd{
  background-color: #111111 !important;
}

.card-title{
  color: #D89254 !important;
}

.margincard{
  margin-top: 500px;
}

/* card codes stop from here */

/* responsive codes start from here */
/* Mobile Devices */
@media (max-width: 768px) {
  /* CSS for smaller screens goes here */
  .img-two-class{
    width: 440px !important;  
    margin-left: -70px !important;
    margin-top: 100px !important;
  }

  .img-class{
    margin-top: 100px;
    margin-left: -10px !important;
    width: 400px;
  }

  .banne-txt{
    position: absolute;
    /* top: 50%; */
    left: 10%; 
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS for medium-sized screens goes here */
}

/* Desktops */
@media (min-width: 1025px) {
  /* CSS for larger screens goes here */
}
/* responsive codes stop from here */


/* create product code start from here */
.my-elemt{
  background-repeat: no-repeat;
  content: "";
  position: fixed;
  top: 0;
  margin-left: 400px; 
  background-image: url("/asset/2.png");
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.submitbtn{
  margin-top: -400 !important;
  border-color: white !important;
  border-width: 2px !important;
  color: white !important;
  border-radius: 10px !important;
  width: 150px;
  height: 50px;
}

.submitbtn:hover{
  background-color: aliceblue !important;
  font-weight: 500 !important;
  color: #111111 !important;
}

.camclebtn{
  margin-top: -400 !important;
  border-color: white !important;
  border-width: 2px !important;
  color: white !important;
  border-radius: 10px !important;
  width: 150px;
  height: 50px;
}

.camclebtn:hover{
  background-color: rgb(128, 0, 0) !important;
  font-weight: 500 !important;
  color: #ffffff !important;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 900px !important;
    position: relative;
  }
  
  .inputGroup input {
    margin-top: 20px !important;
    font-size: 100%;
    padding: 0.9em;
    outline: none;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 60px;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 2em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(255, 247, 0);
  }

.selectcss{
  border-width: 3px !important;
  border-color: white;
  border-radius: 10px;
  height: 50px;
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 1000px !important;
  position: relative;
  background: none !important;
  margin-left: 20px;
  color: #ffffff;
}

.optionchse{
  background: #111111  !important;
  color: white;
  border: none !important;
  color: #ffffff;
}

.fontsize{
  font-size: 35px !important;
}

.inputfile{
  height: 300px !important;
}
/* create product code stop from here */






/*works janky on mobile :<*/
.container {
  position: relative;
  width: 190px;
  height: 254px;
  transition: 200ms;
}

.container:active {
  width: 180px;
  height: 245px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(43deg,  #212529 0%, rgb(12, 8, 11) 46%, rgb(18, 17, 14) 100%);
}

.subtitle {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}

.title {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
}

.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 110px;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: '';
  background: linear-gradient(43deg, rgb(20, 20, 12) 0%, rgb(8, 5, 7) 46%, rgb(18, 17, 14) 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}







