*{
  padding: 0;
  margin: 0;
}

/* create product code start from here */

body{
  background-color: #141311 !important;
}

hr {
  height: 3px !important;
  background-color: #ffffff !important;
  border: none !important;
  margin: 10px 0 !important;
  margin-left: -900px !important;
}


/* nav bar code start from here */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none !important;; 
  height: 100px;
  color: #fff;
  position: relative !important;
}

nav .logo {
  width: 140px !important;
  margin-top: -20px;
}

nav .nav-links {
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-links li {
  list-style: none !important;
  margin-left: 200px;
}

nav .nav-links a {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 18px !important;
}

nav .burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}

.card-border{
  border-radius: 20px !important;
  background-color: #231103 !important;
}

.btn-midddle{
  background: #D89254 !important;
  width: 200px !important;
  height: 40px;
  font-size: 20px !important;
  color: #fff !important;
}

/* banner code start from here */
.textclr{
  color: #D89254 !important;
}
.backgroundclr {
  position: relative;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.adrianafurniture{
  font-size: 170px !important;
  text-align: center !important;
  color: #FAF2E9 !important;
  font-family: 'Cinzel', serif !important;
}

.imgtext{
  margin-top: 350px !important;
  color: #FAF2E9 !important;
  margin-left: 20px !important; 
}

.ptext{
  color: #FAF2E9 !important;
  margin-left: 20px; 
}

.btnbancode{
  margin-left: 1400px;
  width: 140px;
  height: 70px;
  border: 2px solid rgb(255, 255, 255) !important;
  border-radius: 40px !important;
}

.btnbancode:hover{
  background-color: #181008;
}
/* banner code stop from here */

/* aboue section code start from here */
.abutheading{
  margin-top: 40px;
  font-size: 80px;
  margin-left: 50px;
  color: #D89254 !important;
  font-family: 'Cinzel', serif;
}

.usfont{
  font-size: 80px;
  font-family: 'Courgette', cursive !important; 
}

.aboutusimg{
  margin-left: 700px;
  border-radius: 20px;
}

.textaboutus{
  margin-right: 400px !important;
  word-wrap: break-word !important;
  margin-top: 30px;
  font-size: 20px;
}

.textanotherside{
  margin-bottom: -180px;
}

.textanothersideseco{
  margin-top: 20px !important;
}
/* about section stop from here */

/* selected works code start from here */
.sideimgseco{
  margin-left: 20px !important;
  border-radius: 20px;
  margin-top: -500px !important;
}

.selectxt{
  margin-left: 900px;
  color: #FAF2E9 !important;
  font-family: 'Cinzel', serif;
  margin-top: 300px !important;
  color: #D89254 !important;
}

.selectxt{
  font-size: 80px;
}

.workstxt{
  font-family: 'Courgette', cursive !important; 
}

.besttext{
  margin-left: 900px;
  color: #FAF2E9;
  font-size: 30px !important;
}

.selecttext{
  margin-top: 80px !important;
  margin-left: 900px;
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
}

.fulltext{
  margin-left: 900px;
  font-size:20px;
  font-family: 'Kanit', sans-serif;
}

.imgsections{
  margin-bottom: -900px !important;
  margin-left: -700px !important;
  border-radius: 40px;
}

.imgsection{
  margin-bottom: -900px;
  margin-left: 100px;
  border-radius: 40px;
}

.textmargin{
  margin-top: 700px;
  margin-left: 120px;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}
/* selected works stop from here */

/* third big image code start from here */
.textchallenge{
  position: absolute !important;
}

.imgtextcha{
  position:absolute; 
  top:30%; 
  margin-left:400px !important;  
  transform:translate(-50%, -50%);
  color:#fff; 
  font-size: 100px;
  font-family: 'Tangerine', cursive;
  color: #FAF2E9!important
}

/* third big image code start from here */
/* fotter codes start from here */
.fotter{
  margin-top: 100px !important;
  background-color: #0c1116 !important;
}

.fotterimg{
  width: 700px;
  height: 340px !important;
  border-radius: 40px;
  margin-top: -180px !important;
}

.fottertext{
  margin-top: 40px;
  margin-left: 120px;
  font-size: 80px;
  color: #D89254 !important;
  font-family: 'Cinzel', serif;
}

/* footer codes finish from here */

/* cards codes start from here */
.card-clr{
  border: none !important; 
  border: 1px solid #ffffff !important;
  border-radius: 20px !important;
  background: none !important;
  margin-top: 40px;
}

.lineone{
  transform: rotate(90deg); /* rotate the image 90 degrees */
  margin-top: 170px !important;
}

.addrestxt{
  /* margin-top: -10px !important; */
   margin-top: 30px;
   margin-left: -300px !important; 
   font-size: 20px !important;
}

.address-container {
  display: flex;
  margin-left: 1630px !important;
}

.left-column,
.right-column {
  flex-basis: 50%;
  padding: 0 10px;
}

.marginaddres{
  margin-top: 50px;
  margin-left: -930px;
  font-size: 20px !important;
}


.cardimg{
  border-radius: 20px 20px 0px 0px;
}

.btncart{
  position: absolute;
  margin-top: -20px !important;
  margin-left: 200px !important;
  width: 70px;
  height: 100px;
  align-items: center !important;
  opacity: 0 !important;
  background-color: #4C0027 !important;
  border-color: #4C0027!important;
  border-radius: 0px 0px 40px 40px !important;
}

.fontsize{
  color: #fff;
}


.card:hover .btncart {
  opacity: 1 !important;
  transition: 0.5s;
  margin-top: -2px !important;
}

.btnwishlist{
  position: absolute;
  margin-top: -20px !important;
  margin-left: 40px !important;
  width: 70px;
  height: 100px;
  align-items: center !important;
  opacity: 0 !important;
  background-color: #4C0027 !important;
  border-color: #4C0027!important;
  border-radius: 0px 0px 40px 40px !important;
}

.card:hover .btnwishlist {
  opacity: 1 !important;
  transition: 0.5s;
  margin-top: -2px !important;
}

.btnbuy{
  position: absolute;
  margin-top: 100px !important;
  margin-left: 30px !important;
  width: 200px;
  opacity: 0 !important;
  background-color: #4C0027 !important;
  border-color: #4C0027!important;
  border-radius: 20px !important;
}

.card:hover .btnbuy {
  opacity: 1 !important;
  transition: 0.5s;
  margin-top: -80px !important;
}

.salebtn{
  position: absolute;
  width: 60px;
  border-radius: 20px 0px 0px 0px !important;
}
/* cards codes stop from here */

/* responsive codes start from here */
/* Mobile Devices */
@media (max-width: 768px) {
  /* CSS for smaller screens goes here */
 .img-two-class{
  width: 390px !important;
  height: 300px;
 }
 

 .logo{
  width: 100px !important;
 }

 .burger{
  margin-top: -80px;
 }

 .adrianafurniture{
  font-size: 20px !important;
  margin-top: -20px !important;
 }

 .abutheading{
  font-size: 30px;
  margin-bottom: -80px;
 }

 .usfont{
  font-size: 20px;
 }

 .aboutusimg{
  width: 394px !important;
  margin-left: -5px !important;
  margin-top: 100px;
 }

 .btnbancode{
  width: 30px !important;
  height: 30px;
  margin-left: 300px;
 }

 .fas{
  font-size: 20px !important;
  margin-left: -8px;
  margin-bottom: -8px !important;
 }

 .imgtext{
  margin-top: 10px !important;
  font-size: 20px !important;
 }

 .ptext{
  font-size: 10px;
 }
 
 .textaboutus{
  margin-right: 10px !important;
  
 }

.textanothersideseco{
  margin-top: -20px !important;
}

.selectxt{
  margin-left: 20px;
  font-size: 40px;
  margin-top: 100px !important;
  font-size: 75px !important;
}

.sideimgseco{
  margin-top: 0px !important;
  width: 350px !important;
}

.besttext{
  margin-left: 10px;
}

.selecttext{
  margin-left: 10px;
}

.fulltext{
  margin-left: 10px;
  margin-top: 0px;
}

.abutheading{
  margin-top: 40px;
  font-size: 80px;
}

.usfont{
  font-size: 50px;
}

.imgsections{
  width: 330px !important;
  height: 250px;
  margin-top: 40px;
  margin-left: 30px !important;
}

.imgsection{
  width: 330px !important;
  height: 250px;
  margin-top: 330px;
  margin-left: 30px !important;
}

.textmargin{
  margin-left: 40px !important;
  margin-right: auto !important;
  margin-top: 620px;
}

.imgtextcha{
  font-size: 30px;
  margin-left: 120px !important;
  margin-top: 30px !important;
}

.secondimglass{
  height: 220px !important;
  width: 390px !important;
}
/* footer code start from here */

.fotterimg{
  margin-top: 30px !important;
  width: 390px !important;
  height: 230px !important;
}

.fottertext{
  margin-top: 30px !important;
  margin-left: 30px !important;
  font-size: 40px !important;
}

.address-container{
  margin-top: 30px !important;
  margin-left: -1000px !important;
  font-size: 20px !important;
}

.marginaddres{
 margin-top: 50px !important;
}

.right-column{
  margin-left: -100px !important;
  margin-top: 20px !important;

}

/* footer codes stop from here */
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS for medium-sized screens goes here */
}

/* Desktops */
@media (min-width: 1025px) {
  /* CSS for larger screens goes here */
}
/* responsive codes stop from here */

@media screen and (max-width: 768px) {

  nav .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 11.80vh;
    background-color: rgba(8, 8, 8, 0.4); /* background color with 50% opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  nav .nav-links li {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-left: -20px;
  }

  nav .burger {
    display: block;
  }

  nav .nav-active {
    transform: translateX(0%);
  }

  nav .nav-active li {
    opacity: 1;
  }
}
/* nav bar code finish from here */

/* create product code start from here */
.my-elemt{
  background-repeat: no-repeat;
  content: "";
  position: fixed;
  top: 0;
  margin-left: 400px; 
  background-image: url("/asset/2.png");
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.submitbtn{
  margin-top: -400 !important;
  border-color: white !important;
  border-width: 2px !important;
  color: white !important;
  border-radius: 10px !important;
  width: 150px;
  height: 50px;
}

.submitbtn:hover{
  background-color: aliceblue !important;
  font-weight: 500 !important;
  color: #111111 !important;
}

.camclebtn{
  margin-top: -400 !important;
  border-color: white !important;
  border-width: 2px !important;
  color: white !important;
  border-radius: 10px !important;
  width: 150px;
  height: 50px;
}

.camclebtn:hover{
  background-color: rgb(128, 0, 0) !important;
  font-weight: 500 !important;
  color: #ffffff !important;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 900px !important;
    position: relative;
  }
  
  .inputGroup input {
    margin-top: 20px !important;
    font-size: 100%;
    padding: 0.9em;
    outline: none;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: 60px;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 2em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(255, 247, 0);
  }

.selectcss{
  border-width: 3px !important;
  border-color: white;
  border-radius: 10px;
  height: 50px;
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 1000px !important;
  position: relative;
  background: none !important;
  margin-left: 20px;
  color: #ffffff;
}

.optionchse{
  background: #111111  !important;
  color: white;
  border: none !important;
  color: #ffffff;
}

.fontsize{
  font-size: 25px !important;
}

.inputfile{
  height: 300px !important;
}
/* create product code stop from here */